.dragNdrop.sw_drag_over {
	background: #ddd;
}
.dragNdrop.sw_drag_over * {
}

.dragNdrop .droppable {
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	opacity: .2;
	overflow: hidden;
	background: #ccc;
	position: absolute;
	text-align: center;
	display: inline-block;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
}

.dragNdrop .droppable .text {
	display: inline-block;
	vertical-align: middle;
}

.dragNdrop .droppable .text:before {
	content: "\f03e";
}



.dragNdrop.sw_drag_over .droppable {
	opacity: .8;
	height: 100%;
	z-index: 10000
}