/**
 * Contao Open Source CMS
 *
 * @author Sascha Weidner
 * @Copyright Sascha Weidner, Sioweb
 */

 @font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Body */
body {

}
body.popup {
	padding:6px 0;
}

td {
	vertical-align: top;
}

/* Header */
#header {
	width:100%;
	text-align:left;
}
#header > * {
	margin:0;
	padding:8px 2% 6px 1em;
	color:#555;
}

#header div {
	text-align: right;
}

/* Container */
#container {
	width:100%;
	min-width: 1000px;
	padding-bottom: 28px;
}
.popup #container {
	padding:0;
	min-width: 0;
	max-width: none;
}

/* Left */
#left {
	float:left;
	width: 20%;
	width: calc(20% - 1px);
	min-width: 269px;
	border-right: 1px solid #eee;
	
	transition: margin-left .7s;
	-webkit-transition: margin-left .7s;
}

#container > #open_navigation:checked ~ #left {
	margin-left: calc(-20% + 21px);
	overflow: hidden;
}


/* Main */
#main {
	float:left;
	max-width: 80%;
	margin-left: -1px;
	position: relative;
	width: 70%;
	width: calc(100% - 270px);
	border-left: 1px solid #eee;
	
	transition: width .7s;
	-webkit-transition: width .7s;
}
.popup #main {
	width: 100%;
	min-width: 0;
	max-width: none;
}
#container > #open_navigation:checked ~ #main {
	width: 95%;
	max-width: none;
	width: calc(100% - 22px);
}

#main > * {
	padding:1em 2%;
	position: relative;
}

#main > h2 {
	margin: 0 2%;
}

#main > h1 + form {
	padding: 0;
	overflow: hidden;
}
#main > h1 + form .tl_panel {
	margin-top: -49px;
	overflow: hidden;
	transition: margin-top .7s .5s;
	-webkit-transition: margin-top .7s .5s;
}

#main > h1 + form.sw_tl_form .tl_panel {
	height: 60px;
	margin-top: -79px;
	transition: margin-top .9s .5s;
	-webkit-transition: margin-top .9s .5s;
}
	

#main > h1 + form:hover .tl_panel {
	margin-top: 0;
}
.tl_opener {
	height: 25px;
	line-height: 25px;
	background: #23343b;
	overflow: hidden;
	padding: 0 2%;
	color: #fff;
	cursor: pointer;
	
	border-top: 1px solid #777;
	
	transition: height .7s .5s;
	-webkit-transition: height .7s .5s;
}
#tl_navigation .tl_opener {
	padding: 0 1em;
	z-index: 40;
	position: relative;
}
#tl_navigation figure {
	padding: 1em 1em 2em;
}
form:hover .tl_opener {
	height: 0;
	border-top: 1px solid #777;
}

.popup #main {
	padding:0;
	margin:0;
	border:0;
	float:none;
	box-shadow:none;
}

#main > #paste_hint + * {
	margin-top: 0 !important;
}

/* Footer */
#footer {
	text-align:right;
	padding:6px 2% 8px;
}
#footer div {
	margin:0;
	padding:0 1px;
}
#footer span {
	padding-left:12px;
}

/* Navigation */

#tl_navigation {
	height: auto;
	overflow: hidden;
	position: relative;
}
#tl_navigation h1 {
	color:#fff;
	margin: 0;
	padding:1em;
	z-index: 40;
	position: relative;
}

#container > input[type="checkbox"] {
	display: none;
}
#tl_navigation .tl_level_1 {
	float: left;
	width: 100%; 
	margin-top:1em !important;
}
#tl_navigation label {
	float: left;
	width: 10%;
	height: 100%;
	right: 0;
	background: #23343b;
	border-top: 1px solid #777;
	width: calc(20px);
	position: absolute; 
	z-index: 10;
	cursor: pointer;
}
#tl_navigation .tl_level_1_group {
	padding:3px 1em !important;
	font-weight:bold;
}
#tl_navigation .tl_level_1_group img {
	margin-right:2px;
	vertical-align:middle;
	position:relative;
	top:-1px;
}
#tl_navigation .tl_level_1_group + .tl_parent {
	float: left;
	width: 100%;
	overflow: hidden;
	margin-bottom: .5em;
	border-bottom: 1px solid #eee;
}
#tl_navigation ul > .tl_parent:last-child {
	margin-bottom: 0;
}
#tl_navigation .tl_level_2 {
	width: 100%;
	padding:0 0 9px 0 !important;
}
#tl_navigation .tl_level_2 li {
	overflow: hidden;
}
#tl_navigation .tl_level_2 li > a {
	font-weight:normal;
	line-height:19px;
	padding-left: 48px;
	background-position: 17px center;
}

#tl_navigation .tl_buttons span {
	width: 100%;
	display: block;

	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

#tl_navigation .tl_buttons .buttons {
	top: 0;
	left: 50px;
	width: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

#tl_navigation .tl_buttons:hover span {
	z-index: 1;
	opacity: 0;
}
#tl_navigation .tl_buttons:hover .buttons {
	opacity: 1;
	z-index: 10;
}

#tl_navigation .tl_level_2 .tl_buttons a,
#tl_navigation .tl_level_2 .tl_globaloperations a {
	padding: 0;
	width: auto;
	display: inline-block;
	vertical-align: middle;
}
#tl_navigation .tl_level_2 .tl_buttons,
#tl_navigation .tl_level_2 .tl_globaloperations {
	display: block;
	text-align: left;
	line-height: 25px;
	padding-left: 50px;
	position: relative;
}

#tl_navigation .tl_level_2 li:hover {
	background: #E8F0FA;
}
#tl_navigation .tl_level_2 a  + span a {
	width: 15px;
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
	background-position: center center;
}
#tl_navigation .tl_buttons {
	text-align: right;
	display: table-cell;
	padding-right: 5px;
}
#tl_navigation .active {
	color:#005ba9;
}
.toggleWrap {
	cursor:pointer;
	vertical-align:text-bottom;
}
.opacity {
	-moz-opacity:.8;
	opacity:.8;
}

/* Data container */ 
h1.main_headline {
	margin:0;
	color:#fff;
	overflow: hidden;
}
.popup h1.main_headline {
	display:none;
}
.main_headline span {
	float: left;
}
.headline_buttons {
	float: right;
}
.headline_buttons a {
	color: #fff;
}
#tl_buttons {
	text-align: right;
}
h2.sub_headline,h2.sub_headline_all,h2.sub_headline_update,h2.sub_headline_index,h2.sub_headline_rss {
	margin:3px 0 9px;
	padding:6px 0 8px 2.5%;
	color:#005ba9;
	font-size: 150%;
}
h2.sub_headline {
	background:url("images/current.gif") no-repeat left center;
	background-size: 2%;
}
h2.sub_headline_all {
	background:url("images/all_big.gif") no-repeat left center;
	background-size: 2%;
}
h2.sub_headline_update {
	background:url("images/update.gif") no-repeat left center;
	background-size: 2%;
}
h2.sub_headline_index {
	background:url("images/index.gif") no-repeat left center;
	background-size: 2%;
}

.tl_gerror {
	margin:12px 6px 6px;
	padding:2px 0 3px 20px;
	background:url("images/error.gif") no-repeat left center;
}
.tl_error,.tl_confirm,.tl_new {
	margin:1px 0 0;
	padding:4px 5px 5px 25px;
	border-radius:3px;
}
.tl_error {
	background:#faeeee url("images/error.gif") no-repeat 5px center;
}
.tl_confirm {
	background:#ebf6fc url("images/ok.gif") no-repeat 5px center;
}
.tl_new {
	background:#ebf6fc url("images/featured.gif") no-repeat 5px center;
}
.tl_gerror,.tl_gerror a,.tl_error,.tl_error a {
	color:#c33;
}
.tl_confirm,.tl_confirm a {
	color:#005ba9;
}
.tl_info,.tl_info a {
	color:#4b85ba;
}
.tl_new,.tl_new a {
	color:#d68c23;
}
#lu_message {
	margin-top:0;
}
#lu_message .tl_confirm,#lu_message .tl_info {
	padding-left:18px;
	background-position:left center;
	background-color:transparent;
}
.nobg .tl_error,.nobg .tl_confirm,.nobg .tl_info,.nobg .tl_new {
	background-color:transparent;
}
.tl_permalert {
	margin:0;
	background-image:none;
	padding:8px 12px 10px;
	border-top:1px solid #ccc;
}
.tl_permalert a {
	float:right;
	margin:1px 3px 0 24px;
	color:#555;
}

/* Filter */
.tl_panel,.tl_version_panel {
	padding:10px 1em 7px;
	background:#f3f3f3;
	border-top:1px solid #fff;
	border-bottom:1px solid #bbb;
	text-align:right;
	height: 30px;
}
.tl_panel_bottom {
	margin-top:1px;
	padding:6px 6px 6px 0;
	background:#f3f3f3;
	border-top:1px solid #bbb;
	text-align:right;
}
.tl_version_panel .tl_select {
	width:240px;
}
.mac .tl_version_panel .tl_select,.mac .tl_panel_bottom .tl_select {
	font-size:11px;
}
.safari .tl_version_panel,.ie .tl_version_panel {
	overflow:hidden; /* see #5854 */
}
.tl_version_panel .tl_formbody {
	position:relative;
}
.safari .tl_version_panel .tl_formbody,.ie .tl_version_panel .tl_formbody {
	float:right; /* see #5854 */
}
.tl_version_panel .tl_submit {
	margin-top:1px;
	vertical-align:top;
}
.webkit .tl_version_panel .tl_submit,.ie .tl_version_panel .tl_submit {
	padding-top:4px;
	padding-bottom:4px;
}
.opera .tl_version_panel .tl_submit {
	padding-top:3px;
	padding-bottom:3px;
	margin-top:-1px;
}
.tl_version_panel img {
	position:relative;
	top:4px;
	vertical-align:top;
}
.tl_subpanel {
	padding-left:24px;
	float:right;
}
.tl_subpanel strong {
	line-height:21px;
}
.tl_submit_panel {
	padding-left:6px;
}
.tl_img_submit {
	position:relative;
	top:3px;
	vertical-align:top;
}
.tl_panel .active,.tl_panel_bottom .active,#search .active {
	background:#ffd;
}
.tl_panel .tl_select {
	width:116px;
}
.tl_filter .tl_select {
	width:104px;
}
.tl_limit .tl_select {
	width:90px;
}
.tl_search .tl_text {
	width:66px;
}
.mac .tl_panel .tl_select,.mac .tl_panel .tl_text {
	font-size:11px;
}
.mac .tl_panel select {
	max-width:164px;
}

.extension_container {
	margin: 0 !important;
}

/* Boxes */
.tl_xpl,.tl_formbody_edit {
	padding:0;
}
.popup .tl_formbody_edit {
	padding-bottom:52px;
}
.tl_tbox {
	padding:0 0 3em;
	position: relative;
}
.tl_box {
	padding:2em 0 3em;
	border-top:1px solid #ddd;
}
.tl_box h3,.tl_tbox h3,.tl_xpl h3 {
	margin:0;
	padding:2em 0 1px;
	font-weight:bold;
}
.tl_box h4,.tl_tbox h4 {
	margin:6px 0 0;
	padding:0;
	font-weight:bold;
	font-size:11px;
}
.tl_tbox.theme_import h3,.tl_tbox.theme_import h4,.tl_tbox.theme_import p {
	line-height:1.5;
}
.tl_help,.tl_help a {
	margin-bottom:0;
	padding:1px 0;
	line-height:normal;
	font-size:12px;
	color:#005ba9;
}
.tl_help a:hover,.tl_help a:focus,.tl_help a:active {
	text-decoration:underline;
}
.tl_formbody_submit {
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	position: fixed;
	border-top:1px solid #bbb;
}
.popup .tl_formbody_submit {
	z-index:5;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:52px;
}
.tl_submit_container {
	padding:1em 3%;
	text-align: right;
	background:#f3f3f3;
	border-top:1px solid #fff;
}
.maintenance_inactive .tl_submit_container {
	background:none;
	margin:0;
	padding-top:0;
	padding-bottom:0;
	border:0;
}
.maintenance_inactive {
	margin-top:0;
}
#tl_buttons+.maintenance_inactive {
	margin-top:0;
}
#search {
	margin:18px 0 -9px;
	text-align:right;
}
#search .tl_text {
	width:160px;
	padding:3px 2px;
}
.mac #search .tl_text {
	padding:4px 2px;
}
.tl_edit_preview {
	margin:18px 18px 6px;
}
.tl_edit_preview img {
	padding:2px;
	border:1px solid #ddd;
	background:#fff;
	box-shadow:0 1px 3px #ddd;
}

/* Rebuild the search index */
#tl_rebuild_index {
	padding:0 0 18px;
	line-height:1.5;
}
#index_note {
	margin:24px 0 18px;
	padding:11px 12px 12px;
	background:#ffc;
	border:1px solid #f90;
	line-height:1;
	font-size:14px;
}
#index_loading {
	margin:0 0 12px;
	padding:12px 12px 12px 36px;
	background:url("images/loading.gif") no-repeat 2px center;
	line-height:1;
	font-size:16px;
	color:#4b85ba;
}
#index_complete {
	margin:0 0 12px;
	padding:12px 12px 12px 36px;
	background:url("images/help.gif") no-repeat left center;
	line-height:1;
	font-size:16px;
	color:#005ba9;
}

/* Listing */
.tl_listing {
	width: 100%;
	margin:2px 0 !important;
}
.tl_listing_container {
	padding:2px 0;
}
.tl_folder_list,.tl_folder_tlist {
	padding:2px 0 3px;
	border-bottom:1px solid #e9e9e9;
	background:#f3f3f3;
	font-weight:bold;
}
.tl_folder_tlist {
	border-top:1px solid #e9e9e9;
}
.tl_file,.tl_file_list {
	padding:.4em 0 .3em;
	border-bottom:1px solid #e9e9e9;
	background:#fff;
}
.tl_file_list {
	padding:2px 0 3px;
}
.tl_right_nowrap {
	padding:2px 0;
	text-align:right;
	white-space:nowrap;
}
.tl_file a:hover,.tl_file a:focus,.tl_file a:active {
	color:#555;
}
.tl_listing_container .tl_content ul li > * {
	vertical-align:middle;
}

/* List view */
.tl_listing tr.odd td {
	background-color:#fafafa;
}
.tl_listing th,.tl_listing td {
	padding: .4em 1em .3em !important;
}
.list_view .tl_listing img {
	vertical-align:-4px;
}
.list_view .tl_listing img.theme_preview {
	margin:3px 6px 3px 0;
	vertical-align:middle;
}
.tl_show {
	width:705px;
	margin:0 18px 18px;
	padding:9px 0 18px;
}
.tl_bg {
	background:#f6f6f6;
}
.tl_show td {
	padding:4px 0;
}
.tl_label {
	margin-right:12px;
	font-weight:bold;
	white-space:nowrap;
}
.tl_empty {
	margin:0;
	padding:12px 6px 6px;
}
.tl_empty_parent_view {
	margin:0;
	padding:18px 0 0;
}
.tl_noopt {
	margin:0 0 -1px;
}
.tl_select_trigger {
	padding:0 6px 3px 0;
	text-align:right;
}
.tl_select_label {
	position:relative;
	top:-2px;
	color:#999;
	font-size:10px;
}

/* Parent view */
.tl_header {
	padding:.5em;
	background:#f9f9f9;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.tl_header_table {
	padding:3px 0;
	line-height:16px;
}
.tl_header_table td {
	padding: .2em .5em;
}
.tl_content_header {
	padding:.4em 1em .3em;
	border-bottom:1px solid #e9e9e9;
	background:#f6f6f6;
	font-weight:bold;
}
.tl_content {
	padding:.4em 1em .3em;
	border-bottom:1px solid #e9e9e9;
	overflow:hidden;
	position:relative;
}
.tl_content.wrapper_start,.tl_content.wrapper_separator,.tl_content.wrapper_stop {
	background:#f3f3f3;
}
.tl_content.wrapper_start,.tl_content.wrapper_separator {
	border-bottom:0;
}
.tl_content.wrapper_stop,.tl_content.wrapper_separator {
	border-top:0;
}
.tl_content.wrapper_start h1 {
	margin:0 0 9px 6px;
}
.tl_content.indent {
	border-left:10px solid #f3f3f3;
	border-right:10px solid #f3f3f3;
}
.no_padding {
	padding:.4em 1em .3em;
}
.tl_content h1 {
	padding:0;
	margin:0 0 12px;
}
.tl_content pre {
	margin-top:3px;
	margin-bottom:3px;
	word-break:break-all;
	white-space:pre-wrap;
}
.tl_content pre.disabled {
	color:#a6a6a6;
}
.tl_content span.comment {
	color:#4b85ba;
	display:inline-block;
	margin-bottom:3px;
}
.tl_content_left {
	float:left;
}
.webkit .tl_content_left {
	margin-top:1px;
}
.tl_content_right {
	float:right;
	text-align:right;
	margin-left:12px;
}
.tl_content_right img {
	vertical-align:-4px;
}
.cte_type {
	width:520px;
	margin-bottom:9px;
	font-size:10px;
	color:#c6c6c6;
}
.cte_type.published,
.cte_type.published a {
	color:#005ba9;
	font-size:10px;
}
.cte_type.unpublished,.cte_type.unpublished a {
	color:#c33;
	font-size:10px;
}
.limit_height {
	overflow:hidden;
}
.limit_toggler {
	margin-top:9px;
}
.limit_height input[type="file"] {
	position:relative;
}
.tl_form_field_preview td {
	padding-right:6px;
}
.tl_form_field_preview td.col_0 {
	min-width:180px;
}
.tl_form_field_preview .text,.tl_form_field_preview .password {
	width:140px;
}
.tl_form_field_preview .select {
	width:144px;
}
.tl_form_field_preview textarea {
	width:280px;
}

/* Tree view */
.tl_folder_top {
	padding:1px 0;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	background:#f0f0f0;
}
.tl_folder {
	padding:.4em 0 .3em;
	border-bottom:1px solid #e9e9e9;
	background:#f6f6f6;
}
.tl_listing .tl_left {
	float:left;
	width:420px;
	margin-left:43px;
	text-indent:-43px;
}
.tl_tree_xtnd .tl_file .tl_left {
	margin-left:22px;
	text-indent:-22px;
}
ul.level_1 .tl_left {
	width:400px;
}
ul.level_2 .tl_left {
	width:380px;
}
ul.level_3 .tl_left {
	width:360px;
}
ul.level_4 .tl_left {
	width:340px;
}
ul.level_5 .tl_left {
	width:320px;
}
ul.level_6 .tl_left {
	width:300px;
}
ul.level_7 .tl_left {
	width:280px;
}
ul.level_8 .tl_left {
	width:260px;
}
ul.level_9 .tl_left {
	width:240px;
}
.tl_tree_xtnd .tl_folder .tl_left {
	width:460px;
}
.tl_tree_xtnd ul.level_1 .tl_folder .tl_left {
	width:440px;
}
.tl_tree_xtnd ul.level_2 .tl_folder .tl_left {
	width:420px;
}
.tl_tree_xtnd ul.level_3 .tl_folder .tl_left {
	width:400px;
}
.tl_tree_xtnd ul.level_4 .tl_folder .tl_left {
	width:380px;
}
.tl_tree_xtnd ul.level_5 .tl_folder .tl_left {
	width:360px;
}
.tl_tree_xtnd ul.level_6 .tl_folder .tl_left {
	width:340px;
}
.tl_tree_xtnd ul.level_7 .tl_folder .tl_left {
	width:320px;
}
.tl_tree_xtnd ul.level_8 .tl_folder .tl_left {
	width:300px;
}
.tl_tree_xtnd ul.level_9 .tl_folder .tl_left {
	width:280px;
}
.tl_listing .tl_right {
	float:right;
	padding:1px 0;
}
.mac.firefox .tl_listing .tl_right {
	padding:0;
}
.tl_listing,.tl_listing ul {
	margin:0;
	padding:0;
}
.tl_listing li {
	margin:0;
	padding-left:6px;
	padding-right:6px;
	list-style-type:none;
}
.tl_listing li.parent {
	display:inline;
	padding-left:0;
	padding-right:0;
}
.tree_view .tl_listing img,ul.tree_view img {
	vertical-align:-5px;
}
label.tl_change_selected {
	color:#999;
	font-style:italic;
	vertical-align:top;
}
#tl_breadcrumb {
	margin:0 0 12px;
	padding:3px;
	overflow:hidden;
	background:#ffd;
	border:1px solid #d49822;
}
#tl_breadcrumb li {
	margin:0;
	padding:0 3px;
	list-style-type:none;
	float:left;
}
#tl_breadcrumb li img {
	vertical-align:-5px;
}

/* Picker */
.selector_container ul {
	margin:0 0 9px;
	padding:0;
	list-style-type:none;
	overflow:hidden;
}
.selector_container li {
	line-height:18px;
	margin-right:9px;
}
.selector_container img {
	vertical-align:top;
}
ul.sgallery {
	overflow:hidden;
}
ul.sgallery li {
	float:left;
	margin-right:0;
}
.gimage {
	margin:2px;
	border:1px solid #808080;
}

/* Welcome screen */
#tl_welcome {
	margin:18px 2% 24px;
	padding:6px 0 8px 40px;
	background-size: 40px;
	background:url("images/current.gif") no-repeat left center;
	color:#005ba9;
}
#tl_soverview table {
	width:100%;
}
#tl_messages,#tl_shortcuts {
	margin-bottom:24px;
}
#tl_messages h2,#tl_shortcuts h2,#tl_versions h2 {
	margin:18px 0 6px;
	padding:2px 6px 3px;
	border:1px solid #e9e9e9;
	border-width:1px 0;
	background:#f6f6f6;
}
#tl_shortcuts p,#tl_versions p {
	padding-left:6px;
	padding-right:6px;
}
#tl_shortcuts p a {
	text-decoration:underline;
}
#tl_versions {
	margin-top:24px;
}
#tl_versions th {
	background:#f6f6f6;
	padding:2px 3px 3px;
	border-top:1px solid #e9e9e9;
}
#tl_versions th,#tl_versions td {
	border-bottom:1px solid #e9e9e9;
}
#tl_versions td {
	padding:1px 3px;
}
#tl_versions td img {
	position:relative;
	top:1px;
}
#tl_versions td:first-child {
	white-space:nowrap;
}
#tl_versions td:last-child {
	width:32px;
	white-space:nowrap;
}

/* CHMOD table */
.tl_chmod th {
	width:97px;
	text-align:center;
	font-weight:normal;
	background:#f0f0f0;
}
.tl_chmod td {
	width:97px;
	text-align:center;
	background:#f9f9f9;
}
.tl_chmod th,.tl_chmod td {
	border:1px solid #fff;
}

/* Module wizard */
.tl_modulewizard {
	margin:0;
}
.tl_modulewizard td,.tl_modulewizard th {
	padding:0 6px 1px 0;
}
.tl_modulewizard th {
	font-weight:normal;
}
.tl_modulewizard img {
	position:relative;
	top:1px;
}
.tl_modulewizard img.mw_enable,.js .tl_modulewizard input.mw_enable {
	display:none;
}
.js .tl_modulewizard img.mw_enable {
	display:inline;
	cursor:pointer;
}

/* Options wizard */
.tl_optionwizard {
	margin:0;
}
.tl_optionwizard label {
	vertical-align:top;
}
.tl_optionwizard td,.tl_optionwizard th {
	padding:0 4px 1px 0;
}
.tl_optionwizard th {
	font-weight:normal;
	text-align:left;
}
.fw_checkbox {
	margin:0 1px;
}
.tl_optionwizard img {
	position:relative;
	top:1px;
}

/* Table wizard */
#tl_tablewizard {
	width:690px;
	padding-bottom:2px;
	overflow:auto;
}
.tl_tablewizard td {
	padding:2px 4px 0 0;
}
.tl_tablewizard td.tcontainer {
	width:148px;
	height:78px;
	vertical-align:top;
}

/* List wizard */
.tl_listwizard li {
	padding-bottom:1px;
}
.tl_listwizard .tl_text {
	width:586px;
}
.tl_listwizard_img {
	position:relative;
	top:3px;
}

/* Checkbox wizard */
.tl_checkbox_wizard {
	padding-top:2px;
}
.tl_checkbox_wizard_img {
	margin-top:-1px;
	position:relative;
	top:3px;
}
.tl_checkbox_wizard .fixed {
	display:block;
	margin-top:1px;
}
.tl_checkbox_wizard .sortable span {
	display:block;
	margin:-1px 0 0;
}
.tl_checkbox_wizard label {
	display:inline-block;
	margin:-14px 0;
	padding-left:48px;
}
.js .tl_checkbox_wizard label {
	padding-left:34px;
}
.tl_checkbox_wizard .sortable label,
.js .tl_checkbox_wizard [for^=check_all] {
	padding-left: 0;
}
.tl_checkbox_wizard label:last-child {
	margin-bottom:0;
}
.tl_checkbox_wizard .fixed label {
}
.tl_checkbox_wizard .tl_checkbox {
	margin-right:0;
}

/* Meta wizard */
.tl_metawizard,.tl_metawizard li {
	margin:0 0 6px;
}
.tl_metawizard li {
	overflow:hidden;
	margin-bottom:2px;
	padding:9px;
	background:#fcfcfc;
}
.tl_metawizard li.odd {
	background:#f3f3f3;
}
.tl_metawizard label {
	float:left;
	width:100px;
	margin-top:4px;
}
.tl_metawizard .tl_text {
	float:left;
	width:550px;
}
.tl_metawizard br {
	clear:left;
}
.tl_metawizard .lang {
	display:block;
	margin-bottom:9px;
	font-weight:bold;
	position:relative;
}
.tl_metawizard_img {
	position:absolute;
	right:0;
	top:-1px;
	cursor:pointer;
}
.tl_metawizard_new .tl_select {
	width:300px;
}
.tl_metawizard_new .tl_submit {
	margin-top:1px;
	vertical-align:top;
}
.webkit .tl_metawizard_new .tl_submit,.ie .tl_metawizard_new .tl_submit {
	padding-top:4px;
	padding-bottom:4px;
}
.opera .tl_metawizard_new .tl_submit {
	padding-top:3px;
	padding-bottom:3px;
}

/* Ajax box */
#tl_ajaxBox {
	width:20%;
	padding:24px;
	position:absolute;
	left:40%;
	background:#fff url("images/loading.gif") no-repeat right center;
	border:2px solid #666;
	border-radius:6px;
	font-family:"Trebuchet MS",Verdana,sans-serif;
	font-size:15px;
	text-align:left;
}
#tl_ajaxOverlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
	-moz-opacity:0.5;
	opacity: 0.5;
}

/* Misc */
.ce_gallery ul {
	overflow:hidden;
}
.ce_gallery li {
	float:left;
	margin:0 6px 6px 0;
}
#theme-store {
	margin-top:24px;
	text-align:right;
}
.drag-handle {
	position:relative;
	top:1px;
	cursor:move;
	display:none;
}
.js .drag-handle {
	display:inline;
}
.parent_view .drag-handle,.tl_tablewizard .drag-handle {
	top:0;
}
.tl_listwizard .drag-handle {
	top:3px;
}
.tl_checkbox_wizard .drag-handle {
	vertical-align:bottom;
}
.js .button-move {
	width:0;
	height:0;
	left:-1000px;
	top:-1000px;
	position:absolute;
	overflow:hidden;
	display:inline;
}
ul.sortable li {
	width: 8%;
	float: left;
	cursor: move;
	margin-right: 2%;
	position: relative;
}
ul.sortable li:last-child {
	margin-right: 0;
}
ul.sortable img {
	width: 100%;
	height: auto;
	display: block;
}
#manager {
	margin-top:9px;
	background:#f3f3f3;
	border-bottom:1px solid #bbb;
	padding:3px 3px 4px;
}
#manager .open {
	padding:2px 0 3px 20px;
	background:url("images/manager.gif") left center no-repeat;
}
#manager .close {
	padding:2px 0 3px 20px;
	background:url("images/back.gif") left center no-repeat;
}
.ace_editor {
	padding:3px;
}
.ace_editor * {
	font-family:Courier,monospace;
	font-size:12px;
	color:inherit;
}
.ace_editor.fullsize {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:auto;
	height:auto !important;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
/* Default icon classes */
a.navigation,.header_icon,.header_home,.header_user,.header_preview,.header_clipboard,.header_logout,.header_back,.header_new,.header_rss,
.header_edit_all,.header_delete_all,.header_new_folder,.header_css_import,.header_theme_import,.header_store,.header_toggle,.header_sync {
	padding:.4em 1em .3em 18px;
	background-position:left center;
	background-repeat:no-repeat;
}
a.navigation {
	margin-left:0;
}
.list_icon {
	margin-left:-5px;
	padding-left:20px;
	background-position:left center;
	background-repeat:no-repeat;
}
.list_icon_new {
	width:16px;
	background-position:left center;
	background-repeat:no-repeat;
}
.webkit .list_icon,.webkit .list_icon_new {
	background-position:left -1px;
}

/* News icons */
.tl_news_published,.tl_news_unpublished {
	padding:2px 0 3px 24px;
}
.tl_news_published {
	background:url("images/news.gif") no-repeat left center;
}

/* Visual hint for TRBL fields - thanks to Eugene Rybyakov */
.tl_text_trbl,.tl_imageSize_0,.tl_imageSize_1,#ctrl_gradient input,#ctrl_playerSize input {
	background:url("images/hints.gif") no-repeat -20px 20px;
}
#ctrl_playerSize_0 {
	background-position:142px 1px !important;
}
#ctrl_playerSize_1 {
	background-position:143px -18px !important;
}
.tl_imageSize_0 {
	background-position:63px 1px !important;
}
.tl_imageSize_1 {
	background-position:64px -18px !important;
}
.trbl_top {
	background-position:47px -39px !important;
}
.trbl_right {
	background-position:47px -59px !important;
}
.trbl_bottom {
	background-position:47px -79px !important;
}
.trbl_left {
	background-position:47px -99px !important;
}
#ctrl_shadowsize_top {
	background-position:46px -119px !important;
}
#ctrl_shadowsize_right {
	background-position:46px -139px !important;
}
#ctrl_shadowsize_bottom {
	background-position:46px -159px !important;
}
#ctrl_shadowsize_left {
	background-position:46px -179px !important;
}
#ctrl_borderradius_top {
	background-position:0 -199px !important;
}
#ctrl_borderradius_right {
	background-position:47px -219px !important;
}
#ctrl_borderradius_bottom {
	background-position:47px -241px !important;
}
#ctrl_borderradius_left {
	background-position:0 -261px !important;
}

/* Error messages */
label.error,legend.error {
	color:#c33;
}
.tl_tbox .tl_error,.tl_box .tl_error {
	background:none;
	padding:0;
	font-size:10px;
}

/* Fieldsets */
fieldset.tl_tbox {
	margin-top:18px;
}
fieldset.tl_tbox,fieldset.tl_box {
	padding-top:6px;
	border:1px solid #ddd;
	border-width:1px 0 0;
}
fieldset.nolegend {
	padding-top:12px;
}
fieldset.tl_tbox > legend,fieldset.tl_box > legend {
	color:#005ba9;
	font-size: 130%;
	padding-left:18px;
	padding-right:3px;
	background:url("images/palOpen.gif") left center no-repeat;
	cursor:pointer;
}

fieldset.tl_tbox > legend ~ *,
fieldset.tl_box > legend ~ *,
fieldset.tl_tbox > div[id^="sub_"] > *,
fieldset.tl_box > div[id^="sub_"] > * {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

fieldset.tl_tbox > div[id^="sub_"],
fieldset.tl_box > div[id^="sub_"] {
	padding-left: 0;
	padding-right: 0;
}

fieldset.collapsed {
	padding-top:0;
	padding-bottom:1.4em;
	margin-bottom:0;
}
fieldset.collapsed div {
	display:none !important;
}
fieldset.collapsed > legend {
	background:url("images/palCollapsed.gif") left center no-repeat;
}

/* Maintenance */
#tl_maintenance_cache th {
	background:#f6f6f6;
	padding:2px 3px 3px;
	border-top:1px solid #e9e9e9;
}
#tl_maintenance_cache th,#tl_maintenance_cache td {
	border-bottom:1px solid #e9e9e9;
}
#tl_maintenance_cache th {
	padding:0.6em 1em 0.7em;
}
#tl_maintenance_cache td {
	padding:0.6em 1em 0.7em;
}
#tl_maintenance_cache tr:nth-child(even) td {
	background:#fcfcfc;
}
#tl_maintenance_cache td span {
	color:#999;
}
#tl_maintenance_cache .nw {
	white-space:nowrap;
}
#tl_maintenance_cache .tl_checkbox_container label {
	margin:0;
	padding-left:0;
	font-weight:bold;
	display:inline;
}

/* Pagination */
.pagination {
	overflow:hidden;
	background:#f6f6f6;
	margin-top:6px;
	border:1px solid #e9e9e9;
	border-width:1px 0;
	padding:2px 0 4px;
}
.pagination ul {
	width:60%;
	float:right;
	text-align:right;
	padding-right:3px;
}
.pagination p {
	width:30%;
	float:left;
	margin-bottom:0;
}
.pagination li {
	display:inline;
	padding-right:3px;
}
.pagination .current {
	color:#999;
}

/* File synchronization */
#sync-results {
	overflow:hidden;
	margin:6px 18px 0;
}
#sync-results p {
	margin-bottom:0;
}
#sync-results .left {
	float:left;
	padding-top:2px;
}
#sync-results .right {
	float:right;
}
#sync-results .tl_checkbox {
	top:0;
}

/* Headline gradient */
#header h1,#tl_navigation h1,h1.main_headline {
	color: #fff;
	background:#23343b;
	background-image:-moz-linear-gradient(top, #626769, #23343b);
	background-image:-webkit-linear-gradient(top, #626769, #23343b);
	background-image:-o-linear-gradient(top, #626769, #23343b);
	background-image:-ms-linear-gradient(top, #626769, #23343b);
	background-image:linear-gradient(to bottom, #626769, #23343b);
}


/* Font-Awesome */

#left #tl_navigation a.navigation {
    padding-left: 35px !important;
}

a.navigation:before {
	margin-left: -15px;
	margin-right: 5px;
}

*:before {
	font-size: 20px;
	font-family: FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a.navigation.faq,
a.navigation.calendar,
a.navigation.comments,
a.navigation.newsletter,
a.navigation.repository_manager,
a.navigation.repository_catalog {
	background: none !important;
}

a.navigation,
.tl_info:before,
.cte_type:before,
#tl_buttons a:before,
.header_buttons a:before,
.tl_right a:before,
.tl_right_nowrap a:before,
.tl_content_right a:before,
.tl_right span:before,
.tl_right_nowrap span:before,
.tl_content_right span:before {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.tl_buttons img {
	display: none;
}

.tl_info:before {
	content: "\f05a";
}

.header_new:before,
.header_new_folder:before,
.tl_right .pasteNew:before,
.tl_right_nowrap .pasteNew:before,
.tl_content_right .pasteNew:before {
	content: "\f055";
	color: #60A605;
}
.header_sync:before {
	content: "\f01e";
}
.header_toggle:before {
	content: "\f07c";
}

.header_edit_all:before {
	content: "\f044";
}

a.navigation.article:before {
	content: "\f016";
	color: #183196;
}
a.navigation.calendar:before {
	content: "\f01c";
}
a.navigation.faq:before {
	content: "\f059";
}
a.navigation.newsletter:before {
	content: "\f003";
}
a.navigation.calendar:before {
	content: "\f073";
	color: #79B36F;
}
a.navigation.form:before {
	content: "\f00b";
	color: #79B36F;
}
a.navigation.news:before {
	content: "\f01c";
	color: #67b4b5;
}
a.navigation.comments:before {
	content: "\f086";
}
a.navigation.themes:before {
	content: "\f009";
}
a.navigation.tpl_editor:before {
	content: "\f0f7";
}
.header_user:before,
a.navigation.user:before,
a.navigation.member:before {
	content: "\f007";
	color: #67b4b5;
}
a.navigation.group:before,
a.navigation.mgroup:before {
	content: "\f0c0";
	color: #207879;
}
a.navigation.user:before {
	color: #b56767;
}
a.navigation.group:before {
	color: #792020;
}
a.navigation.files:before,
.tl_right .copyChilds:before {
	content: "\f0c5";
	color: #DEC34E;
}
.header_preview:before,
a.navigation.log:before {
	content: "\f108";
}
a.navigation.settings:before {
	content: "\f080";
	color: #183196;
}
a.navigation.maintenance:before {
	content: "\f0e4";
}
.tl_right .undo:before,
.tl_right_nowrap .undo:before,
.tl_content_right .undo:before,
a.navigation.undo:before {
	content: "\f0e2";
}
a.navigation.repository_catalog:before {
	content: "\f0ed";
}
#tl_navigation a.modules:before,
.tl_right .editheader:before,
.tl_right_nowrap .editheader:before,
.tl_content_right .editheader:before,
.tl_right .modules:before,
.tl_right_nowrap .modules:before,
.tl_content_right .modules:before,
a.navigation.repository_manager:before {
	content: "\f085";
	color: #183196;
}

.tl_right .source:before,
.tl_right_nowrap .source:before,
.tl_content_right .source:before {
	content: "\f044";
}

.header_home:before {
	content: "\f015";
}
.header_logout:before {
	content: "\f011";
	color: #D91616;
}
#tl_navigation a.edit:before,
.tl_right .edit:before,
.tl_right_nowrap .edit:before,
.tl_content_right .edit:before {
	content: "\f040";
	color: #DEC34E;
}
#tl_navigation a.copy:before,
.tl_right .copy:before,
.tl_right_nowrap .copy:before,
.tl_content_right .copy:before {
	content: "\f067";
	color: #39ac22;
}
.tl_right .cut:before,
.tl_right_nowrap .cut:before,
.tl_content_right .cut:before {
	content: "\f064";
}
#tl_navigation a.delete:before,
.tl_right .delete:before,
.tl_right_nowrap .delete:before,
.tl_content_right .delete:before {
	content: "\f014";
	color: #D91616;
}
.header_clipboard:before {
	content: "\f014";
}
.tl_right a:before,
.tl_content_right a:before {
	margin-right: 5px;
}

.tl_right .pasteIn:before,
.tl_right_nowrap .pasteIn:before,
.tl_content_right .pasteIn:before {
	content: "\f152";
}
.tl_right .pasteAfter:before,
.tl_right_nowrap .pasteAfter:before,
.tl_content_right .pasteAfter:before {
	content: "\f150";
}

.tl_right .show,
.tl_right_nowrap img,
.tl_right_nowrap .show,
.tl_content_right .show,
.tl_content_right img,
.tl_right img {
	display: none !important;
}

.tl_right .toggle:before,
.tl_right_nowrap .toggle:before,
.tl_content_right .toggle:before,
.tl_right .toggle_invisible.published:before,
.tl_right_nowrap .toggle_invisible.published:before,
.tl_content_right .toggle_invisible.published:before,
.cte_type:before {
	content: "\f06e";
}

.tl_right .toggle_invisible:before,
.tl_right_nowrap .toggle_invisible:before,
.tl_content_right .toggle_invisible:before,
.tl_right .unpublished:before,
.tl_right_nowrap .unpublished:before,
.tl_content_right .unpublished:before,
.cte_type.unpublished:before {
	content: "\f070";
}

.tl_right .drag:before,
.tl_right_nowrap .drag:before,
.tl_content_right .drag:before,
.cte_type.drag:before {
	content: "\f0b2";
}

.tl_right .switchUser:before,
.tl_right_nowrap .switchUser:before,
.tl_content_right .switchUser:before,
.cte_type.switchUser:before {
	content: "\f007\f054";
}

.header_back:before {
	content: "\f0a8";
}
.header_rss:before {
	content: "\f09e";
}
.header_import:before,
.header_theme_import:before {
	content: "\f093";
}
.header_store:before,
#tl_navigation a.exportTheme:before,
.tl_right_nowrap .exportTheme:before {
	content: "\f045";
}

#tl_navigation a.css:before,
.tl_right_nowrap .css:before {
	content: "\f0f6";
}
#tl_navigation a.layout:before,
.tl_right_nowrap .layout:before {
	content: "\f009";
}

.sortable_delete {
	top: 5px;
	right: 5px;
	opacity: .4;
	color: #792020;
	cursor: pointer;
	position: absolute;
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	-ms-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s;
}
.sortable_delete:before {
	content: "\f057";
}
.sortable li:hover .sortable_delete {
	opacity: 1;
}
